/*-----------------*/
/* Coaches */
/*-----------------*/

.coaches-container {
    width: 100%;
    height: auto;
    padding-top: 50px;
}
.coaches-title-header {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding-top: 20px;
}
.coaches {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    
}
.debbie {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Debbie\ Hart.jpg);
    background-size: cover;
    background-position: center;
}
.sam {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Sam\ Williams.jpg);
    background-size: cover;
    background-position: center;
}
.eydn {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Edyn\ Johnson.jpg);
    background-size: cover;
    background-position: center;
}
.kyle {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Kyle\ Bevan.jpg);
    background-size: cover;
    background-position: center;
}
.curt {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Curt\ Cummings.jpg);
    background-size: cover;
    background-position: center;
}

.mike {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Mike\ Tabla.png);
    background-size: cover;
    background-position: right;
}
.michael {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Mike\ Daniel.jpg);
    background-size: cover;
    background-position: center;
}
.janet {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Janet\ Davis.jpg);
    background-size: cover;
    background-position: center;
}
.jared {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Jared\ Goulding.jpg);
    background-size: cover;
    background-position: center;
}
/* .susan {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/.png);
    background-size: cover;
    background-position: center;
} */
.jason {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Jason\ Christiansen.jpg);
    background-size: cover;
    background-position: center;
}
.shane {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Shane.jpg);
    background-size: cover;
    background-position: center;
}
.brandon {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Brandon\ Mecham.jpg);
    background-size: cover;
    background-position: center;
}
.carrie {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Carrie.jpg);
    background-size: cover;
    background-position: center;
}
/* .vivian {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Vivian\ Villar.jpg);
    background-size: cover;
    background-position: center;
} */
/* .santiago {
    width: 400px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Santiago\ Munera.jpg);
    background-size: cover;
    background-position: center;
} */

.coaches-text-container {
    position: absolute;
    height: 75px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--mid-green);
    overflow: hidden;
    border-radius: 10px;
    z-index: 0;
}
.coaches-text-container:hover {
    height: auto;
    transition: all 1s ease-in-out;
    z-index: 0;
}
.button-coaches {
    width: 185px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 20%;
    transition: .5s ease-in-out;
    border: none;
    border-radius: 5px;
    background-color:var(--gold);
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
}
.button-coaches:hover {
    background-color:var(--gold);
    border: 2px solid var(--gold);
    border-radius: 10px;
}
.button-coaches h3 {
    color: var(--black);
    font-weight: bold;
    margin: 5px;
    text-align: center;
    justify-content: center;
}
