* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: helvetica, sans-serif;
}
a {
    text-decoration: none;
}
:root {
    --light-blue: #6189b8;
    --mid-blue: #1b4f8b;
    --dark-blue: #043b7a;
}
/*-----------------*/
/* NAV BAR SECTION */
/*-----------------*/

.links{
    align-content: center;
}
    

.nav-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
    align-content: flex-end;
}
ul {
    display: flex;
    align-items: center;
    align-content: flex-end;
    justify-content: space-evenly;
    /* padding: 0 10%; */
    padding-left: 60vw;
    list-style: none;
    height: 8vh;
    background-color: rgba(100, 100, 100, 0.466);
}
li a {
    display: block;
    color: white;
    align-content: flex-end;
    text-decoration: none;
    font-size: 1.5rem;
    transition: .5s ease-in-out;

}
li a:hover {
    text-decoration: underline;
}
    
#name {
    color: var(--mid-blue);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 30px white;
}
#name:hover {
    text-decoration: none;
}

/*-----------------*/
/*--HERO SECTION--*/
/*-----------------*/

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.image-container {
    position: relative;
    background-image: url('../src/images/header.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: 0vh;
    animation: scale 41s;
    animation-iteration-count: infinite;
}
@keyframes scale {
    0% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    text-shadow: -0px 4px 6px rgba(0, 0, 0, 1)

}
.keyWord {
    color: var(--mid-blue);
    align-content: center;
}


/*-----------------*/
/*--- ABOUT ME ---*/
/*-----------------*/

.about-container {
    margin: 10%;
    width: 80%;
    height: auto;
    background-color: #f8f8f8;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px; 
}
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
.about-image {
    height: 450px;
    width: 400px;
    background-image: url(../src/images/Me1.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
}
.about-text {
    height: auto;
    font-size: 1.5rem;
    margin: 60px;
}
.resume {
    background-color: rgba(100, 100, 100, 0.4);
    width: 150px;
    padding: 20px;
    margin-bottom: 30px;
    transition: .5s ease-in-out;
    border-radius: 15px 15px;
    
}
.resume-text {
    color: var(--dark-blue);
    font-size: 3vh;
    justify-content: center;
}
.resume:hover {
    background-color: var(--light-blue);
}

/*-----------------*/
/* PROJECT SECTION */
/*-----------------*/


.project-container {
    width: 100%;
    height: auto;



}
.title-header {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding-top: 10px;
}
.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    
}
.notetaker-project {
    width: 500px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Notetaker.png);
    background-size: cover;
    background-position: left;
}
.runbuddy-project {
    width: 500px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/runbuddy.png);
    background-size: cover;
    background-position: right;
}
.taskinator-project {
    width: 500px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/taskinator.png);
    background-size: cover;
    background-position:left;
}
.weather-project {
    width: 500px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/weather.png);
    background-size: cover;
    background-position:center;
}
.stickle-project {
    width: 500px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/sticklebricks.png);
    background-size: cover;
    background-position:left;
}
.offlineBeats-project {
    width: 500px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/offlineBeats.png);
    background-size: cover;
    background-position:center;
}
.text-container {
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    
}
.text-container:hover {
    height: 290px;
    transition: all 1s ease-in-out;
}
.name {
    padding: 15px 0 15px 15px;
    margin-top: 10px;
    margin-left: 6px;
    color: var(--dark-blue);
    font-size: 5 rem;
}
.content {
    padding: 15px 0 20px 15px;
    color: var(--mid-blue);
}
.button {
    width: 150px;
    margin-left: 50px;
    transition: .5s ease-in-out;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);


}
.button h3 {
    color: var(--dark-blue);
    font-weight:lighter;
    margin: 2px;
}
.button:hover {
    background-color:var(--light-blue);
    border: 2px solid var(--dark-blue);
    border-radius: 10px;

}

/*-----------------*/
/* Contact Me */
/*-----------------*/

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    width: 30%;
    margin: 5% 35%;
}
.contact-icons a {
    color: var(--mid-blue);

}
.contact-icons a:hover {
    background:var(--light-blue);
    padding: 10px;
    border-radius: 25px;
    box-shadow: 2px 2px 20px rgba(199, 196, 188, 0.781);
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: var(--light-blue);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: var(--mid-blue);
}

.form-container {
  border-radius: 10px;
  background-color: #f2f2f200;
  padding: 20px;
  width: 50vw;
  margin: auto;
}

/*-----------------*/
/* Media Query */
/*-----------------*/


@media (max-width: 760px) {

    ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    list-style: none;
    height: 10vh;
    background-color: rgba(100, 100, 100, 0.2);
    }

    li a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: .75rem;
    }
    #name {
        color: var(--mid-blue);
        font-size: 17px;
        font-weight: bold;
        text-shadow: 1px 1px 30px white;
    }

    .about-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: wrap;
    }
    .about-image {
        height: 450px;
        width: 300px;
        background-image: url(../src/images/Me1.jpg);
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
    }
    .about-text {
        height: auto;
        font-size: 1.5rem;
        margin: 20px;
        padding: 20px 20px 20px 20px ;
    }
    .runbuddy-project {
        width: 500px;
        height: 300px;
        background: #fff;
        position: relative;
        box-shadow: -15px 7px 30px rgb(0 0 0 / 20%);
        border-radius: 10px;
        margin: 50px;
        background-image: url(../src/images/runbuddy.png);
        background-size: cover;
        background-position: right;
    }

    .contact-icons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.5rem;
        width: 30%;
        /* margin: 5% 35%; */
    }
    .contact-icons a{
        color: var(--mid-blue);
        padding: 10px;

    }
    .title-header {
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

   