* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: helvetica, sans-serif;
}
a {
    text-decoration: none;
}
:root {
    --mid-green: #FFFFFF;
    --light-green: #57BD84;
    --gold: #c39c30;
    --black: #000000;
}
/*-----------------*/
/* NAV BAR SECTION */
/*-----------------*/

.links{
    align-content: center;
    
}
    
.nav-bar {
    position: relative;
    z-index: 2;
    width: 100%;
    align-content: flex-end;
    top: 0;
}

ul {
    display: flex;
    align-items: center;
    align-content: flex-end;
    justify-content: space-evenly;
    /* padding: 0 10%; */
    padding-left: 2vw;
    list-style: none;
    height: 20vh;
    background-color: rgba(0,0,0,100); 
}

li a {
    display: block;
    color: white;
    align-content: flex-end;
    text-decoration: none;
    font-size: 130%;
    transition: .5s ease-in-out;
}

li a:hover {
    text-decoration: underline;
}
    
#name {
    color: var(--mid-green);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 30px white;
}
#name:hover {
    text-decoration: none;
}

.navbar-brand{
    position: relative;
    padding-top: 20px;
}

/*-----------------*/
/*--HERO SECTION--*/
/*-----------------*/

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.image-container {
    position: relative;
    background-image: url('../src/images/House-Roundpool.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: 0vh;
    animation: scale 41s;
    animation-iteration-count: infinite;
}
.site-logo {
    width: 80%;
    height: auto;
}

@keyframes scale {
    0% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}
/* .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
} */

.hero-text {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 25px;
    color: #fff;
    /* text-transform: uppercase; */
    z-index: 2;
    text-shadow: -0px 4px 6px rgba(0, 0, 0, 1)

}
.keyWord {
    color: var(--mid-green);
    align-content: center;
}


/*-----------------*/
/*--- ABOUT Program ---*/
/*-----------------*/

.about-container {
    margin: 5%;
    width: 90%;
    height: auto;
    background-color: #f8f8f8;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px; 
}
.about-container-a {
    margin: 10px;
    width: 40%;
    height: auto;
    background-color: #f8f8f8;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    text-align: center;
}
.about-steps {
    /* display: flex; */
    margin: 10%;

}
.buttona {
    width: 100px;
    margin-left: 5px;
    /* margin-top: 5px; */
    margin-bottom: 10%;
    transition: .5s ease-in-out;
    border: none;
    border-radius: 5px;
    background-color: var(--black);
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
}

.aboutstep1 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/handshake.jpg);
    /* Handshake */
    background-size: cover;
    background-position: left;
}
.aboutstep2 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/SHMCoaching85.jpg);
    background-size: cover;
    background-position: right;
}
.aboutstep3 {
    width: 550px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/SHMCoaching57.jpg);
    background-size: cover;
    background-position: left;
}
.aboutstep4 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/SHMCoaching120.jpg);
    background-size: cover;
    background-position: left;
}
.aboutstep5 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/SHMCoaching49.jpg);
    background-size: cover;
    background-position: right;
}
.aboutstep6 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/email.jpg);
    background-size: cover;
    background-position: left;
}
.aboutstep7 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/yesitsfree.jpg);
    background-size: cover;
    background-position: left;
}


.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
.about-image {
    height: 600px;
    width: 400px;
    background-image: url(../src/images/James.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
}
.about-text {
    height: auto;
    font-size: 1.5rem;
    margin: 60px;
    text-align: center;
}
.atext {
    text-align: left;
    
}

.resume-text {
    color: var(--black);
    font-size: 3vh;
    justify-content: center;
}
.resume:hover {
    background-color: var(--gold);
}

/*-----------------*/
/* PROJECT SECTION */
/*-----------------*/


.project-container {
    width: 100%;
    height: auto;

}
.title-header {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding-top: 60px;
}
.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
/* .lending {
    width: 500px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/lending.jpg);
    background-size: cover;
    background-position: left;
}
.coaching {
    width: 500px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Coaching.jpg);
    background-size: cover;
    background-position: right;
}

.mindset {
    width: 500px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/mindset.jpg);
    background-size: cover;
    background-position:center;
}
.bestpart {
    width: 500px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/mindset.jpg);
    background-size: cover;
    background-position:center; */
/* } */
.text-container {
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    
}
.text-container:hover {
    height: 290px;
    transition: all 1s ease-in-out;
}
.name {
    padding: 15px 0 15px 15px;
    margin-top: 10px;
    margin-left: 6px;
    color: var(--black);
    font-size: 5 rem;
}
.content {
    padding: 15px 0 20px 15px;
    color: var(--black);
}
.button {
    width: 150px;
    margin-left: 150px;
    margin-top: 50px;
    transition: .5s ease-in-out;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.buttonhero {
    width: 175px;
    margin-left: 50px;
    margin-top: 50px;
    transition: .5s ease-in-out;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content: center;
}

.button h3 {
    color: var(--black);
    font-weight: bold;
    margin: 4px;
    text-align: center;
    justify-content: center;
}

.buttona h3 {
    color: var(--mid-green);
    font-weight: bold;
    margin: 5px;
    text-align: left;
    justify-content: center;
}

.buttonhero h3 {
    color: var(--black);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    margin-right: 10%;
    font-size: large;
    text-align: center;
}
.buttona:hover {
    background-color:var(--gold);
    border: 2px solid var(--black);
    border-radius: 10px;
}
.button:hover {
    background-color:var(--gold);
    border: 2px solid var(--black);
    border-radius: 10px;
}
.buttonhero:hover {
    background-color:var(--light-green);
    border: 2px solid var(--black);
    border-radius: 10px;

}

/*-----------------*/
/*---Principles----*/
/*-----------------*/

.principle1 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/whynotyou.jpg);
    background-size: cover;
    background-position: left;
}
.principle2 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/mindset.jpg);
    background-size: cover;
    background-position: left;
}

.principle3 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/passion1.jpg);
    background-size: cover;
    background-position: left;
}

.principle4 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/SHMCoaching144.jpg);
    background-size: cover;
    background-position: right;
}

.principle5 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/highfivecoaching.jpg);
    background-size: cover;
    background-position: left;
}

.principle6 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/reflection.jpg);
    background-size: cover;
    background-position: left;
}

.principle7 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/planner.jpg);
    background-size: cover;
    background-position: left;
}

.principle8 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/evaluate.jpg);
    background-size: cover;
    background-position: left;
}

.principle9 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/workout.jpg);
    background-size: cover;
    background-position: left;
}

.principle10 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/SHMCoaching110.jpg);
    background-size: cover;
    background-position: left;
}

.principle11 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/upsdowns.jpg);
    background-size: cover;
    background-position: left;
}

.principle12 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/failure.jpg);
    background-size: cover;
    background-position: left;
}
.principle13 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/first.png);
    background-size: cover;
    background-position: right;
}
.principle14 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/margin.jpg);
    background-size: cover;
    background-position: left;
}
.principle15 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/process.jpg);
    background-size: cover;
    background-position: left;
}
.principle16 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/multiply.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*-----------------*/
/* philosophy */
/*-----------------*/

.philosophy1 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/gameplan.jpg);
    background-size: cover;
    background-position: left;
}
.philosophy2 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/SHMCoaching125.jpg);
    background-size: cover;
    background-position: left;
}
.philosophy3 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/brain.jpg);
    background-size: cover;
    background-position: center;
}

.philosophy4 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/clarity3.jpg);
    background-size: cover;
    background-position: left;
}

.philosophy5 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/process.jpg);
    background-size: cover;
    background-position: left;
}

.philosophy6 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: cover;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/marketing.jpg);
    background-size: cover;
    background-position: left;
}
.philosophy7 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/SHMCoaching26.jpg);
    background-size: cover;
    background-position: center;
}

.philosophy8 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/SHMCoaching66.jpg);
    background-size: cover;
    background-position: right;
}
.philosophy9 {
    width: 560px;
    height: 400px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/SHMCoaching53.jpg);
    background-size: cover;
    background-position: right;
}
/*-----------------*/
/*success */
/*-----------------*/

.success {
    width: 1000px;
    height: 600px;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url(../src/images/Pyramid\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*-----------------*/
/* Sign up */
/*-----------------*/

.contact-container{
    margin: 10%;
    width: 80%;
    height: auto;
    background-color: #f8f8f8;
    box-shadow: -15px 7px 30px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px; 
}

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    width: 30%;
    margin: 5% 35%;
}
.contact-icons a {
    color: var(--mid-green);

}
.contact-icons a:hover {
    background:var(--light-green);
    padding: 10px;
    border-radius: 25px;
    box-shadow: 2px 2px 20px rgba(199, 196, 188, 0.781);
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 

}
.textarea {
font-family: helvetica;
}


input[type=submit] {
  background-color: var(--gold);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: var(--black);
}

.form-container {
  border-radius: 10px;
  background-color: #f2f2f200;
  padding: 20px;
  width: 50vw;
  margin: auto;
}
h3 {
    padding: 15px 0 15px 15px;
    margin-top: 10px;
    margin-left: 20%;
    color: var(--gold);
    font-size: 5 rem;
    
}
h3a {
    padding: 15px 0 15px 15px;
    margin-top: 10px;
    /* margin-left: 20%; */
    color: var(--black);
    font-size: 10 rem;
    
}

/*-----------------*/
/* Media Query */
/*-----------------*/


@media (max-width: 760px) {

    ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    list-style: none;
    height: 10vh;
    background-color: rgba(100, 100, 100, 0.2);
    }

    li a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: .75rem;
    }
    #name {
        color: var(--mid-green);
        font-size: 17px;
        font-weight: bold;
        text-shadow: 1px 1px 30px white;
    }

    .about-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: wrap;
    }
    .about-image {
        height: 450px;
        width: 300px;
        /* background-image: url(../src/images/Me1.jpg); */
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
    }
    .about-text {
        height: auto;
        font-size: 1.5rem;
        margin: 20px;
        padding: 20px 20px 20px 20px ;
    }
    
    .contact-icons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.5rem;
        width: 30%;
        /* margin: 5% 35%; */
    }
    .contact-icons a{
        color: var(--mid-green);
        padding: 10px;

    }
    .title-header {
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

   